---
  name: PDFs Build and Deploy
  
  on:
    push:
      tags:
        - 'latest'
    workflow_dispatch:
  
  permissions:
    contents: write
    pages: write
    id-token: write
  
  concurrency:
    group: ${{ github.workflow }}-${{ github.ref }}
    cancel-in-progress: false
  
  jobs:
    pdfs-build-deployment:
      runs-on: ubuntu-latest
      env:
        PUPPETEER_SKIP_CHROMIUM_DOWNLOAD: "false"
        PUPPETEER_EXECUTABLE_PATH: "/usr/bin/chromium-browser"
        PUPPETEER_ARGS: "--no-sandbox --disable-setuid-sandbox --disable-gpu --disable-dev-shm-usage --single-process"
  
      steps:
        - uses: actions/checkout@v3
  
        - name: Install Chromium and dependencies
          run: |
            sudo apt-get update
            sudo apt-get install -y \
              chromium-browser \
              libnss3 \
              libxss1 \
              libatk1.0-0 \
              libpangocairo-1.0-0 \
              fonts-liberation \
              libappindicator3-1 \
              libnspr4 \
              xdg-utils
  
        - name: Install Node.js
          uses: actions/setup-node@v3
          with:
            node-version: '20'
  
        - name: Install dependencies
          run: npm install -g docs-to-pdf fs-extra
  
        - name: Build PDFs
          run: |
            npx docs-to-pdf --initialDocURLs="https://sncrwf.github.io/workshops/labs/telework-vancouver-101/0.0-introduction/app-engine-overview" \
              --contentSelector="article" --paginationSelector=".pagination-nav__link--next" \
              --excludeSelectors=".margin-vert--xl a" \
              --coverImage="https://sncrwf.github.io/workshops/img/servicenow-logo.png" \
              --coverTitle="Workshop Creator Workflows" \
              --coverSub "Gestão de Casos de Teletrabalho - Nível 1" \
              --outputPDFFilename "telework-vancouver-101.pdf"
  
            npx docs-to-pdf --initialDocURLs="https://sncrwf.github.io/workshops/labs/telework-201_vancouver/Introduction/Overview" \
              --contentSelector="article" --paginationSelector=".pagination-nav__link--next" \
              --excludeSelectors=".margin-vert--xl a" \
              --coverImage="https://sncrwf.github.io/workshops/img/servicenow-logo.png" \
              --coverTitle="Workshop Creator Workflows" \
              --coverSub "Gestão de Casos de Teletrabalho - Nível 2" \
              --outputPDFFilename "telework-vancouver-201.pdf"
  
            npx docs-to-pdf --initialDocURLs="https://sncrwf.github.io/workshops/labs/collaborate-vancouver/0.0-get_started/intro" \
              --contentSelector="article" --paginationSelector=".pagination-nav__link--next" \
              --excludeSelectors=".margin-vert--xl a" \
              --coverImage="https://sncrwf.github.io/workshops/img/servicenow-logo.png" \
              --coverTitle="Workshop Creator Workflows" \
              --coverSub "Colabore para Acelerar" \
              --outputPDFFilename "collaborate-vancouver.pdf"
  
            npx docs-to-pdf --initialDocURLs="https://sncrwf.github.io/workshops/labs/spokegen/overview" \
              --contentSelector="article" --paginationSelector=".pagination-nav__link--next" \
              --excludeSelectors=".margin-vert--xl a" \
              --coverImage="https://sncrwf.github.io/workshops/img/servicenow-logo.png" \
              --coverTitle="Workshop Creator Workflows" \
              --coverSub "IHub - Gerador de Spokes" \
              --outputPDFFilename "spokegen.pdf"
  
            npx docs-to-pdf --initialDocURLs="https://sncrwf.github.io/workshops/labs/rpa/introduction" \
              --contentSelector="article" --paginationSelector=".pagination-nav__link--next" \
              --excludeSelectors=".margin-vert--xl a" \
              --coverImage="https://sncrwf.github.io/workshops/img/servicenow-logo.png" \
              --coverTitle="Workshop Creator Workflows" \
              --coverSub "RPA Hub - Robotic Process Automation" \
              --outputPDFFilename "rpa.pdf"
  
            npx docs-to-pdf --initialDocURLs="https://sncrwf.github.io/workshops/labs/docintel/introduction" \
              --contentSelector="article" --paginationSelector=".pagination-nav__link--next" \
              --excludeSelectors=".margin-vert--xl a" \
              --coverImage="https://sncrwf.github.io/workshops/img/servicenow-logo.png" \
              --coverTitle="Workshop Creator Workflows" \
              --coverSub "DocIntel - Document Intelligence" \
              --outputPDFFilename "docintel.pdf"
  
            npx docs-to-pdf --initialDocURLs="https://sncrwf.github.io/workshops/labs/visitor-access-xanadu/1.0-introduction/overview" \
              --contentSelector="article" --paginationSelector=".pagination-nav__link--next" \
              --excludeSelectors=".margin-vert--xl a" \
              --coverImage="https://sncrwf.github.io/workshops/img/servicenow-logo.png" \
              --coverTitle="Workshop Creator Workflows" \
              --coverSub "Hiperautomação - Gestão de Acesso de Visitantes" \
              --outputPDFFilename "visitor-access.pdf"
  
        - name: Release with Notes
          uses: softprops/action-gh-release@v1
          with:
            files: |
              telework-vancouver-101.pdf
              telework-vancouver-201.pdf
              collaborate-vancouver.pdf
              spokegen.pdf
              rpa.pdf
              docintel.pdf
              visitor-access.pdf
          env:
            GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}